#chat-controls .fa-bullseye:hover {
    color: #ff9898;
}

.RTB-entry {
    background-color: #c4c3c0;
    color: #111111;
    padding: 10px;
    font-size: 20px;
    margin-bottom: 5px;
    border: 1px solid #111111;
    cursor: pointer;
}

.RTB-entry:hover, .RTB-entry:focus {
    background-color: #a9a9a7;
    box-shadow: none;
}