<div class='abilities-tab'>
    <input type='hidden' name='sheet' id='sheet' value='abilities'>

    <h3 class='tabcontent'>Points Left: {{pointBuySum data.abilitiesForm}}/27</h3>
    <ul id='HC-abilities'>
        {{#each data.abilities}}
        <li class='abilities large'>
            <span class="icon square increment"></span>
            <div class='abilities small border'>
                <h3>{{@key}}</h3>
                <input class='score' type="text" value="{{.}}"></input>
                <input type='hidden' class='score-hidden' name="{{@key}}" id="{{@key}}"
                    value='{{lookup ../data/abilitiesForm @key}}'>
            </div>
            <span class="icon square decrement"></span>
        </li>
        {{/each}}
    </ul>
</div>