<div id='HC-form'>
    <form autocomplete='off' class='form'>
        <input type='hidden' name='sheet' id='sheet' value='abilities'>

        <!-- Tabs -->
        <div id='HC-header'>
            <button type='submit' class='tablinks race'>RACE</button>
            <button type='submit' class='tablinks class'>CLASS</button>
            <button type='submit' class='tablinks abilities'>ABILITIES</button>
            <button type='submit' class='tablinks background'>BACKGROUND</button>
            <button type='submit' class='tablinks equipment'>EQUIPMENT</button>
            <button type='submit' class='tablinks spells'>SPELLS</button>
            <button type='submit' class='tablinks feats'>FEATS</button>
            <button type='submit' class='tablinks bio'>BIO</button>
            <button type='submit' class='tablinks summary'>SUMMARY</button>
        </div>
        
        <!-- Abilities -->
        <ul id='HC-abilities'>
            {{#with data.abilities as | ability |}}
                {{#each ability}}
                    <li class='abilities large'>
                        <span class="icon square increment submit"></span>
                        <div class='abilities small border'>
                            <h3 class='score'>{{@key}}</h3>
                            <input class='score' type="text" name="score" id="score" value="{{this}}"></input>
                        </div>
                        <span class="icon square decrement submit"></span>
                    </li>
                {{/each}}
            {{/with}}
        </ul>

        <!-- Tab content -->
        <div id='HC-content'>
            <h3 class='tabcontent'>Abilities menu</h3>
        </div>

        <div id='HC-navigate' class='navigate'>
            <button type='submit' class='submit prev'>PREVIOUS</button>
            <button type='submit' class='submit next'>NEXT</button>
        </div>
    </form>
</div>