<div id='background-tab' class='fill'>

    <h3>Backgrounds:</h3>
    <div class='choice-pane'>
        <select class='dropdown lighten' name='background' id='background'>
            <option value='{{data.background.name}}' selected hidden>{{data.background.name}}</option>
            {{#with info.background as | background |}}
            {{#each background}}
            <option value='{{@key}}'>{{@key}}</option>
            {{/each}}
            {{/with}}
        </select>

        {{#if data.background.name}}

        <!-- Starting Equipment-->
        <h3>Starting Equipment:&nbsp</h3>
        <ul>
            {{#each data.background.data.equipment}}
            <li>{{this}}&nbsp</li>
            {{/each}}
        </ul>
        {{/if}}

    </div>

    <!-- Info Pane -->
    {{#if data.background.name}}
    <div class='info-pane'>
        <iframe width='100%' height='100%' src='{{data.background.template}}'></iframe>
    </div>
    {{/if}}
</div>