<div id='class-tab' class='fill'>
    <ul id='HC-abilities'>

        {{#with data.abilities as | ability |}}
        {{#each ability}}
        <li class='abilities large'>
            <div class='abilities border'>
                <h3 class='score'>{{@key}}</h3>
                <p class='score'>{{this}}</p>
            </div>
        </li>
        {{/each}}
        {{/with}}
    </ul>

    <h1 style='text-align: center;'>Choose a class</h1>

    <div class='choice-pane'>
        {{!-- Select Class--}}
        {{#with info.class as | class |}}
        {{#each this}}
        <div class='class-entry'>
            <img style="box-shadow:{{this.border}};" class='load-template selector class-icon' name='class'
                id='{{@key}}' src='{{this.img}}'>
            <h3 style='text-align: center;'>{{@key}}</h3>
        </div>
        {{/each}}
        {{/with}}

        {{#if data.class.name}}

        <h3 class='header' style='margin: 5%;'>{{data.class.description}}</h3>

        {{!-- Hit Die --}}
        <div class='subheader' style='text-align: left; width: 100%;'>
            <h3>Hit Die: {{data.class.hit_dice}}</h3>
        </div>

        {{!-- Weapon Proficiencies --}}
        <div class='subheader' style='text-align: left; width: 100%'>
            <h3>Weapon Proficiencies:</h3>
            <ul>
                {{#each data.class.data.weapon_prof}}
                <li>{{this}}</li>
                {{/each}}
            </ul>
        </div>

        {{!-- Armor Proficiencies --}}
        <div class='subheader' style='text-align: left; width:100%'>
            <h3>Armor Proficiencies:</h3>
            <ul>
                {{#each data.class.data.armor_prof}}
                <li>{{this}}</li>
                {{/each}}
            </ul>
        </div>

        {{!-- Starting Equipment--}}
        <div class='subheader' style='text-align: left; width:100%'>
            <h3>Starting Equipment:</h3>
            <ul>
                {{#each data.class.data.equipment}}
                <li>{{this}}</li>
                {{/each}}
            </ul>
        </div>

        {{!-- Choose Skills --}}
        <div class='subheader' style='text-align: left; width:100%'>
            <h3>Choose {{data.class.data.num_skills}} skills:</h3>
            <ul style="list-style: none;">
                {{#each data.class.data.skills}}
                <li>
                    <input type='checkbox' id='{{this}}' name='skill' value='{{this}}'>
                    <label for='{{this}}'>{{this}}</label>
                </li>
                {{/each}}
            </ul>
        </div>
        {{/if}}
    </div>

    {{#if data.class.name}}
    {{!-- Info Pane --}}
    <div class='info-pane'>
        <iframe class='fill' src='{{data.class.template}}'></iframe>
    </div>
    {{/if}}
</div>