<div id='HC-form'>
    <form autocomplete='off' class='form'>
        <input type='hidden' name='sheet' id='sheet' value='race'>
        <!-- Tabs -->
        <nav id='HC-header'>
            <button type='submit' class='tablinks race'>RACE</button>
            <button type='submit' class='tablinks class'>CLASS</button>
            <button type='submit' class='tablinks abilities'>ABILITIES</button>
            <button type='submit' class='tablinks background'>BACKGROUND</button>
            <button type='submit' class='tablinks equipment'>EQUIPMENT</button>
            <button type='submit' class='tablinks spells'>SPELLS</button>
            <button type='submit' class='tablinks feats'>FEATS</button>
            <button type='submit' class='tablinks bio'>BIO</button>
            <button type='submit' class='tablinks summary'>SUMMARY</button>
        </nav>

        <!-- Abilities -->
        <ul id='HC-abilities'>

            {{#with data.abilities as | ability |}}
                {{#each ability}}
                    <li class='abilities'>
                        <h3 class='score'>{{@key}}</h3>
                        <p class='score'>{{this}}</p>
                    </li>
                {{/each}}
            {{/with}}
        </ul>
        
        <!-- Tab content -->
        <div id='HC-content'>
            <!-- Select Race-->
            <label for='race'>Race:</label>
            <select class='select' name='race' id='race'>
                <option value='{{data.race.race}}' selected hidden>{{data.race.race}}</option> 
                {{#with info.race as | race |}}
                    {{#each race}}
                        <option value='{{@key}}'>{{@key}}</option>
                    {{/each}}
                {{/with}}
            </select>

            {{#if data.race.race}}

                <!-- Select Subrace-->
                {{#if (objectLength data.race.data.subraces)}}
                    <label for='subrace'>Subrace:</label>
                    <select class='select' name='subrace' id='subrace'>
                        <option value='{{data.race.subrace}}' selected hidden>{{data.race.subrace}}</option> 
                        {{#with data.race.data.subraces as | subrace |}}
                            {{#each subrace}}
                                <option value='{{@key}}'>{{@key}}</option>
                            {{/each}}
                        {{/with}}
                    </select>
                {{/if}}

                <!--Select Alignment-->
                <label for='alignment'>Alignment:</label>
                <select class='select' name='alignment' id='alignment'>
                    <option value='{{data.race.alignment}}' selected hidden>{{data.race.alignment}}</option> 
                    {{#with info.alignment as | alignment |}}
                        {{#each alignment}}
                            <option value='{{@key}}'>{{@key}}</option>
                        {{/each}}
                    {{/with}}
                </select>

                <!-- Race Characteristics-->
                <label for='size' name='size' id='size'>Size: {{data.race.size}}</label>
                <label for='speed' name='speed' id='speed'>Speed: {{data.race.speed}}</label>
                <label for='languages' name='languages' id='languages'>Languages:</label>
                {{#each data.race.data.languages}}
                    <label>{{this}}</label>
                {{/each}}
            {{/if}}

        </div>

        <div id='HC-navigate' class='navigate'>
            <button type='submit' class='submit next'>NEXT</button>
        </div>
    </form>
</div>