<div id='HC-form'>
    <form autocomplete='off' class='form'>
        <input type='hidden' name='sheet' id='sheet' value='spells'>

        <!-- Tabs -->
        <div id='HC-header'>
            <button type='submit' class='tablinks navigate race'>RACE</button>
            <button type='submit' class='tablinks navigate class'>CLASS</button>
            <button type='submit' class='tablinks navigate abilities'>ABILITIES</button>
            <button type='submit' class='tablinks navigate background'>BACKGROUND</button>
            <button type='submit' class='tablinks navigate equipment'>EQUIPMENT</button>
            <button type='submit' class='tablinks navigate spells'>SPELLS</button>
            <button type='submit' class='tablinks navigate feats'>FEATS</button>
            <button type='submit' class='tablinks navigate bio'>BIO</button>
            <button type='submit' class='tablinks navigate summary'>SUMMARY</button>
        </div>
        
        <!-- Tab content -->
        <div id='HC-content'>

            <div class='choice-pane'>
                <h3>Cantrips:&nbsp</h3>
                {{#range 3}}
                    <select class='change-disable' name='spell' id='spell'>
                        <option disabled hidden selected></option>
                        {{#each ../info.spellData.L0}}
                            <option value='Spells:{{this.data.name}}' name='{{this.data.name}}'>{{this.data.name}}</option>
                        {{/each}}
                    </select>
                {{/range}}


                <h3>1st Level Spells:&nbsp</h3>
                <select name='spell' id='spell'>
                        {{#each info.spellData.L1}}
                            <option value='Spells:{{this.data.name}}'>{{this.data.name}}</option>
                        {{/each}}
                </select>

            </div>

        </div>

        <div id='HC-navigate'>
            <button type='submit' class='navigate prev'>PREVIOUS</button>
            <button type='submit' class='navigate next'>NEXT</button>
        </div>
    </form>
</div>