<div id='HC-form'>
    <form autocomplete='off' class='form'>

        {{!-- Navigation --}}
        <nav id='HC-header' class='tabs' data-group="primary">
            <a hidden class='tablinks item start active' data-tab="start">START</a>
            <a class='tablinks item race' data-tab="race">RACE</a>
            <a class='tablinks item class' data-tab='class'>CLASS</a>
            <a class='tablinks item abilities' data-tab='abilities'>ABILITIES</a>
            <a class='tablinks item background' data-tab='background'>BACKGROUND</a>
            <a class='tablinks item equipment' data-tab='equipment'>EQUIPMENT</a>
            <a class='tablinks item spells' data-tab='spells'>SPELLS</a>
            <a hidden class='tablinks item spells-cantrip' data-tab='spells-cantrip'>SPELLS</a>
            <a hidden class='tablinks item spells-first' data-tab='spells-first'>SPELLS</a>
            <a class='tablinks item feats' data-tab='feats'>FEATS</a>
            <a class='tablinks item bio' data-tab='bio'>BIO</a>
            <a class='tablinks item summary' data-tab='summary'>SUMMARY</a>
        </nav>

        <section id='HC-content' class='content'>

            {{!-- Start Tab --}}
            <div class='tab fill' data-tab='start' data-group="primary">
                <div class='banner-container' style='margin-top: 10%; margin-bottom: 10%'>
                    <img class='banner' src="modules/hero-conjurer/images/banner.png">
                </div>
                <h3 class='title'>Welcome to the D&D 5E SRD character creator</h3>
                <h3 class='title'>Select a tab to customize a new hero</h3>
            </div>

            {{!-- Race Tab --}}
            <div class='tab fill' data-tab='race' data-group="primary">
                {{> "modules/hero-conjurer/templates/race.html"}}
            </div>

            {{!-- Class Tab --}}
            <div class='tab fill' data-tab='class' data-group="primary">
                {{> "modules/hero-conjurer/templates/class.html"}}
            </div>

            {{!-- Abilities Tab --}}
            <div class='tab fill' data-tab='abilities' data-group="primary">
                {{> "modules/hero-conjurer/templates/abilities.html"}}
            </div>

            {{!-- Background Tab --}}
            <div class='tab fill' data-tab='background' data-group="primary">
                {{> "modules/hero-conjurer/templates/background.html"}}
            </div>

            {{!-- Equipment Tab --}}
            <div class='tab fill' data-tab='equipment' data-group="primary">
                {{> "modules/hero-conjurer/templates/equipment.html"}}
            </div>

            {{!-- Spells Tab --}}
            <div class='tab fill' data-tab='spells' data-group="primary">
                {{> "modules/hero-conjurer/templates/spells.html"}}
            </div>

            {{!-- Feats Tab --}}
            <div class='tab fill' data-tab='feats' data-group="primary">
                {{> "modules/hero-conjurer/templates/feats.html"}}
            </div>

            {{!-- Biography Tab --}}
            <div class='tab fill' data-tab='bio' data-group="primary">
                {{> "modules/hero-conjurer/templates/bio.html"}}
            </div>

            {{!-- Summary Tab --}}
            <div class='tab fill' data-tab='summary' data-group="primary">
                {{> "modules/hero-conjurer/templates/summary.html"}}
            </div>
        </section>
    </form>
</div>