<div id='HC-form'>
    <form autocomplete='off'>
        <!-- Tabs -->
        <div id='HC-header'>
            <button type='submit' class='tablinks navigate race'>RACE</button>
            <button type='submit' class='tablinks navigate class'>CLASS</button>
            <button type='submit' class='tablinks navigate abilities'>ABILITIES</button>
            <button type='submit' class='tablinks navigate background'>BACKGROUND</button>
            <button type='submit' class='tablinks navigate equipment'>EQUIPMENT</button>
            <button type='submit' class='tablinks navigate spells'>SPELLS</button>
            <button type='submit' class='tablinks navigate feats'>FEATS</button>
            <button type='submit' class='tablinks navigate bio'>BIO</button>
            <button type='submit' class='tablinks navigate summary'>SUMMARY</button>
        </div>
        
        <!-- Banner -->
        <div class='banner-container'>
            <img class='banner' src="modules/hero-conjurer/images/banner.png">
        </div>

        <!-- Tab content -->
        <div id='HC-content'>
            <h3 class='tabcontent'>This is the Hero Conjurer!</h3>
        </div>

        <div id='HC-navigate'>
            <button type='submit' class='navigate next'>NEXT</button>
        </div>
    </form>
</div>