<div id='HC-form'>
    <form autocomplete='off'>
        <!-- Tabs -->
        <div id='HC-header'>
            <button type='submit' class='tablinks race'>RACE</button>
            <button type='submit' class='tablinks class'>CLASS</button>
            <button type='submit' class='tablinks abilities'>ABILITIES</button>
            <button type='submit' class='tablinks background'>BACKGROUND</button>
            <button type='submit' class='tablinks equipment'>EQUIPMENT</button>
            <button type='submit' class='tablinks spells'>SPELLS</button>
            <button type='submit' class='tablinks feats'>FEATS</button>
            <button type='submit' class='tablinks bio'>BIO</button>
            <button type='submit' class='tablinks summary'>SUMMARY</button>
        </div>
        
        <!-- Tab content -->
        <div id='HC-content' class='tabcontent'>
            <p>Summary menu</p>
        </div>

        <div id='HC-navigate' class='navigate'>
            <button type='submit' class='submit prev'>PREVIOUS</button>
            <button type='submit' class='submit next'>NEXT</button>
        </div>
    </form>
</div>