/* Parent form */
#HC-form {
  display: flex;
  width: 941px;
  height: 600px;
  font-family: "Nodesto", "Signika", "Palatino Linotype", serif;
}
#HC-form .form {
  width: 100%;
}
/* Container for banner */
#HC-form .banner-container {
  position: relative;
  margin: auto;
  width: 50%;
  height: 110px;
  margin-left: auto;
  margin-right: auto;
}
/* Banner */
#HC-form .banner {
  width: 100%;
  height: auto;
  background: #fff0;
  border-style: none;
  box-shadow: none;
  position: absolute;
  top: 0px;
}

/* Tab header */
#HC-header {
  display: flex;
  overflow: hidden;
  width: 100%;
  margin: auto;
  margin-left: -0.5%;
}
/* Tab buttons hover */
#HC-header .tablinks:hover {
  color: #dbdbdb;
  background-color: #b30000;
  box-shadow: none;
}

/* HC tab buttons */
#HC-header .tablinks {
  background-color: #cccccc;
  border: 1px solid #000000;
  transition: 0.3s;
  font-size: 1.3em;
  margin: auto;
  padding: 0.3em;
  text-align: center;
  width: 100%;
}

#HC-header .tablinks.active {
  color: #dbdbdb;
  background-color: #b30000;
  box-shadow: none;
}

#HC-abilities {
  display: flex;
  list-style: none;
  width: 80%;
  margin: 2% auto 2% auto;
  padding: 0;
  font-size: 28px;
}

#HC-abilities .abilities {
  height: auto !important;
  width: 100px;
  text-align: center;
  margin: auto;
}

#HC-abilities .score {
  margin: 0 auto;
}

#HC-abilities .border {
  border: 2px groove #eeede0;
  border-radius: 3px;
  padding: 0 1em;
}

#HC-abilities .small {
  height: 68px;
}

#HC-abilities .large {
  height: 146px;
}

#HC-abilities .square{
	background: #919191;
  border-bottom:1px solid #FFF;
	display:inline-block;
  height:auto;
  width:100%;
}
#HC-abilities .square:hover{
	background: #ab6a6a;
}
#HC-abilities .square:active{
	background: #b30000;
}

#HC-abilities .increment:after{
  position:relative;
  top:-0.8em;
  width: 0;
	height: 0;
  content:'';
	border-style: solid;
	border-width: 0 7px 8px 7px;
	border-color: transparent transparent #FFFFFF transparent;
  border-radius:2px;
  margin: auto;
}

#HC-abilities .decrement:after{
  position:relative;
  top:0.8em;
  width: 0;
	height: 0;
  content:'';
	border-style: solid;
	border-width: 8px 7px 0 7px;
	border-color: #FFFFFF transparent transparent transparent;
  border-radius:2px;
}

/* Style the tab content */
#HC-content {
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
  width: 100%;
  height: 100%;
} 

#HC-content .subtab {
  float: left;
  width: 5%;
  height: auto;
  font-size: 40px;
}

#HC-content .subtablinks {
  background: #919191;
  padding: 10%;
  margin: 5% auto 5% auto;
  width: 100%;
  display: inline-block;
  text-align: center;
  position: relative;
  left: -20%;
}

#HC-content .choice {
  width: 30%;
  padding: 5%;
}
#HC-content .choice-label {
  font-size: 1.4em;
}
#HC-content .choice-input {
  height: 1.6em;
}

#HC-content .choice-pane {
  width: 30%;
  display: flex;
  flex-wrap: wrap;
  float: left;
}

#HC-content .info-pane {
  float: right;
  width: 68%;
  height: 100%;
  overflow: scroll;
}

#HC-content .spellbook {
  float: right;
  width: 50%;
  height: 40%;
  display: inline-table;
}

#HC-content .class-entry {
  margin: auto;
}

#HC-content .selector {
  width: 80px;
  height: 80px;
}

#HC-content .selector:hover {
  opacity: 0.5;
}

.shadow-border {
  box-shadow: 0 0 8px #b30000;
}
.height {
  height: auto;
}
#HC-navigate .navigate:hover {
  color: #dbdbdb;
  background-color: #b30000;
  box-shadow: none;
}
#HC-navigate .navigate.active {
  color: #dbdbdb;
  background-color: #b30000;
  box-shadow: none;
}

#HC-navigate .navigate {
  background-color: #cccccc;
  border: 3px solid #000000;
  transition: 0.3s;
  width: auto;
  font-size: 1em;
  font-weight: bold;
  border-radius: 10px;
  margin: 1em;
}
#HC-navigate .prev {
  float: left;
}
#HC-navigate .next {
  float: right;
}
