<div class='spells-fourth fill'>
    <div class='choice-pane spell-pane'>
        <div class='search-bar lighten'>
            <input type="text" class="spell-search" placeholder="Search" style='font-size: 1.3em'>
            <input {{data.spells.restrict_spells}} type='checkbox' id='spell-restrict' class='spell-restrict' name='spell-restrict'>
            <label for='spell-restrict' style='font-size: 1.3em;'>Class-specific Spells</label>
        </div>
        {{#if data.spells.restrict_spells}}
        {{#each data.class.spells.[4]}}
        <div class='spell-entry draggable'>
            <img class='spell-icon' src='{{this.data.img}}' value='Spells:{{this.name}}' name='spells'
                id='{{this.name}}'>
            <span class='spell-info'>{{this.name}}</span>
            <span class='spell-info' style='font-size: 1.6em;'>{{this.labels.school}}</span>
        </div>
        {{/each}}
        {{/if}}

        {{#unless data.spells.restrict_spells}}
        {{#each info.spellList.[4]}}
        <div class='spell-entry draggable'>
            <img class='spell-icon' src='{{this.data.img}}' value='Spells:{{this.name}}' name='spells'
                id='{{this.name}}'>
            <span class='spell-info'>{{this.name}}</span>
            <span class='spell-info' style='font-size: 1.6em;'>{{this.labels.school}}</span>
        </div>
        {{/each}}
        {{/unless}}
    </div>
</div>