<div class='spells-first fill'>
    <div class='choice-pane spell-pane'>
        {{#each data.class.spells.[1]}}
        <div class='spell-entry draggable'>
            <img class='spell-icon' src='{{this.data.img}}' value='Spells:{{this.name}}' name='spells'
                id='{{this.name}}'>
            <span class='spell-info'>{{this.name}}</span>
            <span class='spell-info' style='font-size: 1.6em;'>{{this.labels.school}}</span>
        </div>
        {{/each}}
    </div>

    {{!-- Spellbook --}}
    <div class='spellbook droppable'>
        <div style='text-align:center;'>
            <h2 style='width: 100%;'>Spellbook:&nbsp</h2>
        </div>
        {{#each data.spells.imgs}}
        <div class='spell-recorded draggable'>
            <img class='spell-recorded-icon' style='position: relative; width: 30px; height: 30px;' src='{{this}}' name='spells'>
            <span class='spell-recorded-info'>{{lookup ../data.spells.names @index}}</span>
        </div>
        {{/each}}
    </div>
</div>