<div class='flex-column'>
    <div class='lighten'>
        <input type="text" class="search-bar general-text" placeholder="Search">
        <input {{data.spells.restrict_spells}} type='checkbox' id='spell-restrict' class='spell-restrict'
            name='spell-restrict'>
        <label for='spell-restrict' style='font-size: 1.3em;'>Class-specific Spells</label>
    </div>
    <div class='flex-column'>
        {{#if data.spells.restrict_spells}}
            {{#each data.class.spells.[6]}}
                <div class='spell-container draggable' name='spell' id='{{this.name}}'>
                    <img class='spell-icon' src='{{this.data.img}}' value='Spells:{{this.name}}'>
                    <span class='spell-info'>{{this.name}}</span>
                    <span class='spell-info' style='font-size: 1.6em;'>{{this.labels.school}}</span>
                    <span class='info-icon render-sheet'>🛈</span>
                </div>
            {{/each}}
        {{else}}
            {{#each info.spellList.[6]}}
                <div class='spell-container draggable' name='spell' id='{{this.name}}'>
                    <img class='spell-icon' src='{{this.data.img}}' value='Spells:{{this.name}}'>
                    <span class='spell-info'>{{this.name}}</span>
                    <span class='spell-info' style='font-size: 1.6em;'>{{this.labels.school}}</span>
                    <span class='info-icon render-sheet'>🛈</span>
                </div>
            {{/each}}
        {{/if}}
    </div>
</div>